<!DOCTYPE html>
<html>
	<title>Blog Post</title>
	<head>
		<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.1.4/semantic.min.css">
			<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>	